/ConceptsBased/target/test-classes/WebElementBasics/AlertsOperations.class
/ConceptsBased/target/test-classes/JavaConcepts/CollectionDemo/ArrayDemo.class
/ConceptsBased/target/test-classes/JavaConcepts/CollectionDemo/ArrayListTrial.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/AutoComplete.class
/ConceptsBased/target/test-classes/ListenersDemo/BaseListeners.class
/ConceptsBased/target/surefire-reports/bullet_point.png
/ConceptsBased/target/test-classes/WebElementBasics/ButtonOperations.class
/ConceptsBased/target/test-classes/WebElementBasics/CheckboxOperations.class
/ConceptsBased/target/test-classes/TestNGFeatures/ChromeParallel.class
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/classes.html
/ConceptsBased/target/surefire-reports/collapseall.gif
/ConceptsBased/target/surefire-reports/TestNGFeatures.TestDataProvider/Command line test.html
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/Command line test.properties
/ConceptsBased/target/surefire-reports/TestNGFeatures.TestDataProvider/Command line test.xml
/ConceptsBased/target/ConceptsBased-1.0-SNAPSHOT.jar
/ConceptsBased/target/test-classes/JavaConcepts/ConstructorDemo.class
/ConceptsBased/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/ConceptsBased/target/test-classes/ListenersDemo/CustomListners.class
/ConceptsBased/target/test-classes/DataDrivenWithDataProviderInExcel/DataDrivenDemo.class
/ConceptsBased/target/test-classes/DataDrivenUtil.class
/ConceptsBased/target/test-classes/TestNGFeatures/DataproviderParallel.class
/ConceptsBased/target/test-classes/JavaScriptExecuteorDemo/DemoJavaScriptExecutor.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/DownloadFiles.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/dragAndDrop.class
/ConceptsBased/target/test-classes/WebElementBasics/DropDownOperations.class
/ConceptsBased/target/surefire-reports/emailable-report.html
/ConceptsBased/target/surefire-reports/failed.png
/ConceptsBased/target/test-classes/JavaConcepts/Family.class
/ConceptsBased/target/test-classes/TestNGFeatures/FirefoxParallel.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/FrameHandle.class
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/groups.html
/ConceptsBased/src/test/java/ListenersDemo/Screenshot/image.png
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/index.html
/ConceptsBased/target/surefire-reports/old/index.html
/ConceptsBased/target/surefire-reports/index.html
/ConceptsBased/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ConceptsBased/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/ConceptsBased/target/test-classes/JavaScriptExecuteorDemo/JavaScriptUtil.class
/ConceptsBased/target/surefire-reports/jquery-3.4.1.min.js
/ConceptsBased/src/test/java/ListenersDemo/Screenshot/Lisners.png
/ConceptsBased/target/test-classes/ListenersDemo/ListenersDemo.class
/ConceptsBased/target/test-classes/ListenersDemo/ListenersTrial.class
/ConceptsBased/target/test-classes/listners.xml
/ConceptsBased/target/test-classes/ListenersDemo/ListnersTrial2.class
/ConceptsBased/target/test-classes/loginData.xlsx
/ConceptsBased/target/test-classes/JavaConcepts/Loop.class
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/main.html
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/methods.html
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/methods-alphabetical.html
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/methods-not-run.html
/ConceptsBased/target/surefire-reports/navigator-bullet.png
/ConceptsBased/target/test-classes/JavaConcepts/Polimorphism/OverloadingDemo.class
/ConceptsBased/target/test-classes/JavaConcepts/Polimorphism/OverridingDemo.class
/ConceptsBased/target/test-classes/ParallelClasstestng.xml
/ConceptsBased/target/test-classes/TestNGFeatures/ParallelTestNg.class
/ConceptsBased/target/test-classes/parallelTestng.xml
/ConceptsBased/target/surefire-reports/passed.png
/ConceptsBased/target/test-classes/WebElementBasics/RadioOperations.class
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/reporter-output.html
/ConceptsBased/target/test-classes/TestNGFeatures/SafariParallel.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/Selectable.class
/ConceptsBased/target/test-classes/JavaConcepts/CollectionDemo/SetDemo.class
/ConceptsBased/target/surefire-reports/skipped.png
/ConceptsBased/target/test-classes/JavaConcepts/StaticAndNonStaticDifference.class
/ConceptsBased/target/test-classes/JavaConcepts/StaticDemo.class
/ConceptsBased/target/test-classes/JavaConcepts/String_Buffer_Builder.class
/ConceptsBased/target/surefire-reports/TEST-TestNGFeatures.TestDataProvider.xml
/ConceptsBased/target/test-classes/TestNGFeatures/TestDataProvider.class
/ConceptsBased/target/surefire-reports/testng.css
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/testng.xml.html
/ConceptsBased/target/surefire-reports/TestNGFeatures.TestDataProvider/testng-failed.xml
/ConceptsBased/target/surefire-reports/testng-failed.xml
/ConceptsBased/target/surefire-reports/testng-reports.css
/ConceptsBased/target/surefire-reports/testng-reports.js
/ConceptsBased/target/surefire-reports/testng-results.xml
/ConceptsBased/target/surefire-reports/TestNGFeatures.TestDataProvider.txt
/ConceptsBased/target/test-classes/WebElementBasics/TextBoxOperations.class
/ConceptsBased/target/surefire-reports/old/TestNGFeatures.TestDataProvider/toc.html
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/Tool_menuTip.class
/ConceptsBased/target/test-classes/JavaConcepts/CollectionDemo/TreeDemo.class
/ConceptsBased/target/test-classes/uiTestAxone/WindowHandle.class
/ConceptsBased/target/test-classes/WebElementAdvancedConcepts/WindowHandles.class
/ConceptsBased/target/test-classes/DataDrivenWithDataProviderInExcel/XLUtility.class
/GuruBank/log/application.html
/GuruBank/target/test-classes/uk/banking/testcases/BaseClass.class
/GuruBank/src/test/resources/Drivers/chromedriver
/GuruBank/target/test-classes/Drivers/chromedriver
/.idea/compiler.xml
/GuruBank/.idea/compiler.xml
/GuruBank/target/test-classes/Configuration/config.properties
/GuruBank/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/GuruBank/target/test-classes/data
/GuruBank/target/test-classes/Drivers/geckodriver
/GuruBank/GuruBank.iml
/GuruBank/target/GuruBank-1.0-SNAPSHOT.jar
/GuruBank/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/GuruBank/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/.idea/jarRepositories.xml
/GuruBank/.idea/jarRepositories.xml
/JayPractice.iml
/GuruBank/target/test-classes/uk/banking/pageObject/LoginPage.class
/GuruBank/target/test-classes/uk/banking/testcases/loginTest_101.class
/.idea/misc.xml
/GuruBank/.idea/misc.xml
/pom.xml
/GuruBank/target/test-classes/uk/banking/utilities/ReadConfig.class
/GuruBank/log/testlog.log
/GuruBank/log/testlog1.log
/GuruBank/target/test-classes/testNG.xml
/GuruBank/.idea/uiDesigner.xml
/.idea/vcs.xml
/GuruBank/.idea/vcs.xml
